<div *ngIf="parking">
  <div><label>Name: </label> {{ parking.name }}</div>
  <div><label>Address: </label> {{ parking.address }}</div>
  <div><label>Active: </label> {{ parking.active }}</div>
  <div>
    <a
      [routerLink]="['/details/parking/reservations']"
      routerLinkActive="router-link-active"
      >List de Reservations</a
    >
  </div>
  <div *ngIf="parking?.barrier" class="_image">
    <img class="esp32" [attr.src]="parking?.barrier?.car_image" />
    <img [attr.src]="parking?.barrier?.car_plate" />
    <h1>{{ parking?.barrier?.car_number }}</h1>
  </div>
  <!-- <app-reservation-spot [spots]="parking.spots"></app-reservation-spot> -->
  <span
    class="button is-small btn-primary"
    *ngIf="parking.active"
    (click)="updateActive(false)"
    >Inactive</span
  >
  <span
    class="button is-small btn-primary"
    *ngIf="!parking.active"
    (click)="updateActive(true)"
    >Active</span
  >
  <div></div>
  <span class="button is-small btn-danger" (click)="deleteParking()"
    >Delete</span
  >
  <hr />
</div>
